*{
    padding: 0%;
    margin: 0%;
}
body {
  display: grid;
  margin:0;
  height: 100vh;
  place-items: center;
  background: #000;
}

shader-art {
  display: block;
  width: 100vw;
  height: 100vh;
}

shader-art canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#click {
  position: absolute;
  top: 30%;
  align-items: center;
  background-color: #000;
  color: white;
  border-radius: 8px;
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
}
#click:hover{
background-color: black;
  color: #ff073a;
  border: 2px solid #ff073a;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  box-shadow:
    0 0 5px #ff073a,
    0 0 10px #ff073a,
    0 0 20px #ff073a;
  transition:  1s ease, transform 1s ease;
} 
#fact {
    position: absolute;
    top: 40%;
    margin: 20px 30px;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    }